extends layout 

block nav
  p 
    a(href="/") Home
    |  > 
    a(href=book.url) #{book.title}
    |  > 
    a.active(href=chapter.url) #{chapter.title}
    
block content
  each paragraph, i in chapter.paragraphs
    div
      each token in paragraph.content
        if token.dict
          span.term=token.term 
            div.dict
              each d in token.dict
                p #{d.traditional} 【#{d.simplified}】
                p=d.pinyin 
                ol
                  each m in d.meaning 
                    li=m
                hr
        else
          | #{token.term}
      button(class=paragraph.saved ? 'saved' : '' data-index=i) #{paragraph.saved? '✔' : '✚'} 
  script. 
    document.addEventListener("click", async (e) => {
      const target = e.target;
      if (target.tagName.toLowerCase() == "button") {
        await fetch(`/history`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            book: !{JSON.stringify(book.title)},
            chapter: !{JSON.stringify(chapter.title)},
            index: +target.dataset.index,
          }),
        });
        document.querySelectorAll('button').forEach(e => {
          e.classList.remove("saved");
          e.textContent = "✚"
        })
        target.classList.add("saved");
        target.textContent = '✔';
      }
    });