extends layout 

block content
  p 
    a(href="/") Home
    |  > 
    a.active(href=book.url) #{book.title}
  h1
    each token in tokenized_title
      if token.dict
        span.term=token.term 
          div.dict
            each d in token.dict
              p #{d.traditional} 【#{d.simplified}】
              p=d.pinyin 
              ol
                each m in d.meaning 
                  li=m
              hr
      else
        | #{token.term}
  ul 
    each chapter in chapter_list 
      li 
        a(href=chapter.url) #{chapter.title}
    else 
      li There is no chapter in #{book.title}