extends layout 

block content
  p 
    a(href="/") Home
    |  > 
    a(href=book.url) #{book.title}
    |  > 
    a.active(href=chapter.url) #{chapter.title}
  h1=title
  each paragraph in chapter.tokenized_paragraph
    div
      each token in paragraph
        if token.dict
          span.term=token.term 
            div.dict
              each d in token.dict
                p #{d.traditional} 【#{d.simplified}】
                p=d.pinyin 
                ol
                  each m in d.meaning 
                    li=m
                hr
        else
          | #{token.term}