extends layout 

block nav
  a(href="/") Home
  |  > 
  a(href=book.url) #{book.title}
  |  > 
  a.active(href=chapter.url) #{chapter.title}
    
block content
  each paragraph, i in chapter.paragraphs
    div
      each token in paragraph
        if token.dict
          span.term=token.term 
            div.dict
              each d in token.dict
                p #{d.traditional} 【#{d.simplified}】
                p=d.pinyin 
                ol
                  each m in d.meaning 
                    li=m
                hr
        else
          | #{token.term}
      if i == chapter.savedIndex
        button.saved(data-index=i title="You stopped here!") ✔
      else 
        button(data-index=i title="Bookmark?") ✚
  script. 
    const savedElement = document.querySelector(".saved");
    if (savedElement) {
      savedElement.scrollIntoView({behavior: 'smooth', block: 'center'});
    }
    document.addEventListener("click", async (e) => {
      const target = e.target;
      if (target.tagName.toLowerCase() == "button") {
        if (target.classList.contains("saved")) return;
        await fetch(`/history`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            book: !{JSON.stringify(book.title)},
            chapter: !{JSON.stringify(chapter.title)},
            index: +target.dataset.index,
          }),
        });
        document.querySelectorAll('button').forEach(e => {
          e.classList.remove("saved");
          e.title = "Bookmark?";
          e.textContent = "✚";
        })
        target.classList.add("saved");
        target.title = "You stopped here!";
        target.textContent = '✔';
      }
    });