extends layout 

block nav
  a(href="/") Home
  |  > 
  a(href=book.url) #{book.title}
  |  > 
  a.active(href=chapter.url) #{chapter.title}
  |  > 
  a.active(href=`${book.url}/delete`) Delete
    
block content
  form(method='post' action='')
    ul 
      li Do you want to delete this chapter?
      li
        button.btn-danger(type="submit") Delete