doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/images/favicon.png", type="image/png")
  body
    nav
      block nav 
    if tokenized_title
      h1
        each token in tokenized_title
          if token.dict
            span.term=token.term 
              div.dict
                each d in token.dict
                  p #{d.traditional} 【#{d.simplified}】
                  p=d.pinyin 
                  ol
                    each m in d.meaning 
                      li=m
                  hr
          else
            | #{token.term}
    block content
    script. 
      const navElement = document.querySelector("nav");
      let stick = false;
      const stickEvent = new Event("stick");
      window.addEventListener("scroll", (e) => {
        if ((window.scrollY > 0 && !stick) || (window.scrollY == 0 && stick)) {
          stick = !stick;
          document.dispatchEvent(stickEvent);
        }
      });
      document.addEventListener("stick", () => {
        navElement.classList.toggle("stick");
      });
